h1{
  color: blue;
  text-align: left;
}
.img1{
  width: 50%;
  height: auto;
  float: left;
}
.text-right{
  width: 50%;
  height:auto;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
h2{
  color:purple;
  text-align: right;
}
.img2{
  width: 40%;
  height: auto;
  float: right;
}
.text-left{
  width:50%;
  height:0px;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}
