section{
  align: center;
  padding: 10px;
}
.main-heading{
  color: #191970;
  text-align: center;
}
.img1{
  width: 98%;
  height: auto;
  padding: 10px;
}
.img2{
  width: 98%;
  height: auto;
  float: centre;
  padding: 10px;
}
.img3{
  width: 98%;
  height: auto;
  float: centre;
  padding: 10px;
}
.header{
  text-align: center;
}
.description{
  text-align: center;
}
